<br>
<div class="container">
    <h1>Credentials</h1>
    <div class="row">
        <div class="col d-flex justify-content-end">
            <button type="button" class="btn btn-primary" (click)="goTo('credential')">Add Credential</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div *ngIf="notCredentials">
            <p class="text-muted">Not credentials 😞</p>
        </div>
        <div class="col-4" *ngFor="let credential of credentials">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title">{{ credential.key }}</h2>
                    <p class="card-text">shared_secret: <span class="text-muted">{{ credential.shared_secret }}</span>
                    </p>
                </div>
            </div>
            <br>
        </div>
    </div>
</div>