<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <br>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <h2>Add Messages</h2>
                    </h5>
                    <div class="mb-3">
                        <label for="" class="form-label">Message</label>
                        <input type="text" class="form-control" [(ngModel)]="form.msg">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Tag</label>
                        <input type="text" class="form-control" [(ngModel)]="form.tags">
                    </div>
                    <div class="mb-3 d-flex justify-content-end">
                        <button type="button" class="btn btn-primary" (click)="createMessage()">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>